<x-metadata-blocks.default
    slug="crossmark"
    title="{{ __('plugins.generic.crossref.settings.crossmark.label') }}"
    :$headingTag
>
    <div data-vue-root>
        <pkp-crossmark-button></pkp-crossmark-button>
    </div>
</x-metadata-blocks.default>