{{--
 plugins/generic/crossref/templates/templates/citedBy.blade

 Copyright (c) 2026 Simon Fraser University
 Copyright (c) 2026 John Willinsky
 Distributed under The MIT License. For full terms see the file LICENSE.

 Cited-by on the article details page.
--}}
<section class="item cited-by" data-vue-root>
    <pkp-cited-by v-bind='{$citedByConfig|json_encode}'></pkp-cited-by>
</section>
